.Page {
  user-select: none;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #141e30;
}

.bg1 {
  position: relative;
  height: 88vh;
  margin-top: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  background: #141e30;
  background-image: url("../assets/bg1.png");
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.divider1 {
  border: 1px solid #ffbb00;
  width: 100vw;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 80px;
}

.divider2 {
  border: 1px solid white;
  width: 300px;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 0px;
}

h2 {
  margin-bottom: 100px;
}

.body {
  padding-left: 15vw;
  padding-right: 15vw;
}

#mainLogo {
  width: 33.5vw;
  transition: all 1s ease-in-out;
  justify-self: center;
}

.container {
  padding: 0;
  margin-top: 8.8vh;
  margin-left: auto;
  margin-right: auto;
  width: 99vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  transition: all 1s ease-in-out;
}

.banner {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  margin: 95px auto;
  width: 70vw;
  z-index: 3;
  border: #ffbb00 solid 2px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b3b57;
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.npm {
  margin-bottom: auto;
  padding: 3%;
  padding-left: 1w;
  padding-right: 1vw;
  margin-top: auto;
  font-size: 2vw;
  color: white;
}

.Logo-sepi {
  margin-top: 0.5%;
  position: static;
  margin-left: 5px;
  max-width: 10vw;
  margin-left: 1vw;
  height: 4.5vw;
  object-fit: contain;
}

.Logo-ATL {
  position: static;
  margin-top: 0.5%;
  max-width: 4.5vw;
  margin-right: 1vw;
  height: 4.5vw;
  object-fit: contain;
}

.textMain {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  justify-self: center;
}

.text1 {
  padding: 0;
  font-size: 7.7vw;
  color: white;
  margin: 0;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out 0.5s forwards;
  transition: all 1s ease-in-out;
}

.text2 {
  padding: 0;
  font-size: 2vw;
  color: white;
  margin: 0;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 1s forwards;
  transition: all 2s ease-in-out;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100px);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Mdia */

@media (max-width: 1000px) {
  #mainLogo {
    width: 35vw;
    transition: all 1s ease-in-out;
    margin-left: 25px;
  }

  .bg1 {
    width: 100vw;
    height: 70vh;
  }

  .banner {
    top: -140px;
  }

  .text1 {
    font-size: 40px;
    margin-right: 20px;
  }

  .text2 {
    font-size: 20px;
    margin-right: 20px;
  }

  .body {
    padding-left: 30px;
    padding-right: 100px;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1260px) {
  .banner {
    position: absolute;
    top: -170px;
    left: 0;
    right: 0;
    margin: 160px auto;
    width: 80vw;
    z-index: 3;
    border: #ffbb00 solid 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b3b57;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  .npm{
    font-size: 2.3vw;
    margin-top: 5px;
  }

  .banner{
    scale: 1.2;
  }
  .Logo-ATL{
    margin-left: 10px;
    margin-right: 0;
  }
  .Logo-sepi{
    margin-right: 10px;
  }
}


@media(max-width: 780px){
  .text1{
    font-size: 6.5vw;
  }
  .text2{
    font-size: 2.3vw;
  }

  .banner{
    width: 70vw;
  }

  .npm{
    font-size: 2vw;
  }

  .bg1{
    height: 40vh;
  }

}