.news-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2b3b57;
  overflow: hidden;
}

.news-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.news-heading {
  color: #243657;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.news-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  width: 100%;
}

.news-card {
  position: relative;
  overflow: hidden;
  background-color: #2b3b57;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.news-card:hover .news-image img {
  transform: scale(1.1);
}

.news-image {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.news-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  transition: all 0.3s ease-out;
}

.news-text {
  padding: 2rem;
}

.news-title {
  color: #243657;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.news-description {
  color: #666;
  font-size: 1rem;
  line-height: 1.5;
}

.news-heading {
  margin-top: 4%;
  margin-bottom: 4%;
  z-index: 2;
  color: #fff;
}

@media only screen and (max-width: 400px) {
  .news-card-container {
    margin-right: 30%;
    margin-left: 0%;
  }

  .news-heading {
    margin-bottom: 15%;
  }
}
