.table-container {
  margin: 20px;
  margin-top: 100px;
}

.table-with-vectors {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.table-with-vectors th,
.table-with-vectors td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-with-vectors th {
  background-color: #2b3b57;
  font-weight: bold;
}

.table-with-vectors td:last-child {
  font-weight: bold;
  text-align: center;
}

.body-table{
  width: 100px;
}
